/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19/06/2018, 20:11:33
    Author     : Denis Magno
*/

/*Reset*/
body {
    padding: 0px;
    margin: 0px;
    background-color: #FAFAFA;
}

body * {
    font-family: verdana !important;
}

/*Geral*/
.container{
    max-width: 1200px;
    margin: 0 auto;
}

.wraper{
    min-height: calc(100vh - 350px);
    position: absolute;
}

.secao{
    float: left;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
}

/*Header*/
header{
    background: #FAFAFA;
    float: left;
    height: auto;
    width: 100%;
    color: #FFF;
    padding-top: 20px;
    padding-bottom: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.logo-header{
    text-align: center;
}

.logo-header img{
    max-width: 200px;
}

/*Index*/
.titulo{
    text-align: center;
    margin-top: 0px;
    font-size: 26px;
    color: #333;
}

.texto{
    text-align: center;
    margin-top: 0px;
    font-size: 14px;
    color: #333;
}

.caixa-login{
    width: 300px;
    height: auto;
    box-sizing: border-box;
    padding: 30px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    text-align: center;
    margin: 0 auto;
}

/*Restrito*/
.menu-admin{
    margin-top: 20px;
}

.menu-admin-item{
    margin-right: 20px;
    margin-top: 4px;
}

.menu-admin-item:hover{
    background:transparent !important;
    background-color:transparent !important;
}

.menu-admin-item span{
    color: #333;
}

.caixa-form-admin{
    width: 600px;
    height: auto;
    box-sizing: border-box;
    padding: 30px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    text-align: center;
    margin: 0 auto;
}

.visualizacao-form-admin{
    width: 1000px;
    height: auto;
    box-sizing: border-box;
    padding: 30px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 8px;
    text-align: center;
    margin: 0 auto;
}


.campo{
    margin-bottom: 20px;
}

.campo-admin{
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}

/*Footer*/
footer{
    position: relative;
    bottom: 0;
    left: 0;
    background: #C5E1A5;
    float: left;
    height: auto;
    width: 100%;
}

.geral-footer{
    float: left;
    height: 60px;
    width: 100%;
}

.barra-footer{
    background: #9CCC65;
    float: left;
    height: 40px;
    width: 100%;
}

.barra-footer .esquerda{
    color: #FFF;
    margin-top: 11px;
    float: left;
}

.barra-footer .direita{
    color: #FFF;
    margin-top: 11px;
    float: right;
}